.wallpaper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  -webkit-user-drag: none;
  background-image: url("./assets/wallpaper/windows-95-wallpaper.jpg");
  background-position: center;
}
